{{>layout/header}}



<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>당신의 디저트, 디저트리입니다.</h1>
            <p>나만의 나무에 디저트를 하나씩 채워보세요!</p>
            <a class="btn btn-primary btn-pull" href="#" role="button">자세히 알아보기</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>리뷰 게시판</h2>
            <p>3명의 회원과 11개의 새 글이 당신을 기다리고 있습니다.<br>여러 회원들과 맛집을 공유해보세요! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>디저트리</h2>
            <p>리뷰를 찜만 해두실건가요? <br> 당신의 나무에 디저트들을 하나씩 채워 나무를 풍성하게 만들어보세요!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>온라인 주문</h2> <p>유명한 디저트 매장이 멀리 있어서 아쉬웠죠? 걱정마세요~ 디저트리가 배송해드릴게요. 오후 3시 주문까지 당일배송!</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/1.jpg">
            </div>
            <div class="item">
                <img src="images/2.jpg">
            </div>
            <div class="item">
                <img src="images/3.jpg">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

{{>layout/footer}}